<div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
</div>



<table class="custom-table">
  <thead>
    <tr>
      <th>IMPOSTO</th>
      <th>RELIZADO</th>
      <th>REALIZADO HORA</th>
      <th>JUSTIFICATIVA</th>
      <th>DATA</th>
      <th>HORA</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of controleRealizado">
      <td>{{item.imposto}}</td>
      <td>{{item.realizado}}</td>
      <td>{{item.realizadoHora}}</td>
      <td>{{item.justificativa}}</td>
      <td>{{item.data | date: "dd/MM/yy"}}</td>
      <td>{{item.data |date: "HH:mm:ss"}}</td>
    </tr>
  </tbody>
</table>